/* Light gray scrollbar styling */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #0000ff; /* Tailwind's gray-300 */
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: content-box;
}